aiofiles==0.7.0
aiounittest==1.4.0
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.5; python_version >= "3"
click==7.1.2
colorama==0.4.4; sys_platform == "win32"
coverage==5.5
coveralls==3.2.0
dnspython==1.16.0
docopt==0.6.2
fastapi==0.65.3
google-api-core==2.0.1
google-auth==2.1.0
google-cloud-pubsub==2.8.0
googleapis-common-protos==1.53.0
grpc-google-iam-v1==0.12.3
grpcio==1.40.0
gunicorn==20.1.0
h11==0.12.0
httptools==0.1.2; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
idna==3.2; python_version >= "3"
libcst==0.3.20
motor==2.5.1
mypy-extensions==0.4.3
packaging==21.0
proto-plus==1.19.0
protobuf==3.18.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.8.2
pymongo==3.12.0
pyparsing==2.4.7
python-dotenv==0.15.0
pytz==2021.1
pyyaml==5.4.1
requests==2.26.0
rsa==4.7.2
six==1.16.0
starlette==0.14.2
svgwrite==1.4.1
typing-extensions==3.10.0.2
typing-inspect==0.7.1
urllib3==1.26.6
uvicorn==0.13.4
uvloop==0.16.0; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
watchgod==0.7
websockets==8.1
wrapt==1.12.1
