aiofiles==0.7.0; python_version >= "3.6" and python_version < "4.0"
aiounittest==1.4.1
cachetools==4.2.4; python_version >= "3.5" and python_version < "4.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
certifi==2021.10.8; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
charset-normalizer==2.0.9; python_full_version >= "3.6.0" and python_version >= "3.5"
click==7.1.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
colorama==0.4.4; python_version >= "2.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_full_version >= "3.5.0"
coverage==5.5; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0" and python_version < "4")
coveralls==3.3.1; python_version >= "3.5"
dnspython==1.16.0; python_full_version >= "3.5.2"
docopt==0.6.2; python_version >= "3.5"
fastapi==0.65.3; python_version >= "3.6"
google-api-core==2.3.2; python_version >= "3.6"
google-auth==2.3.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
google-cloud-pubsub==2.9.0; python_version >= "3.6"
googleapis-common-protos==1.54.0; python_version >= "3.6"
grpc-google-iam-v1==0.12.3; python_version >= "3.6"
grpcio-status==1.43.0; python_version >= "3.6"
grpcio==1.43.0; python_version >= "3.6"
gunicorn==20.1.0; python_version >= "3.5"
h11==0.12.0; python_version >= "3.6"
httptools==0.1.2; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
idna==3.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
libcst==0.3.23; python_version >= "3.6"
motor==2.5.1; python_full_version >= "3.5.2"
mypy-extensions==0.4.3; python_version >= "3.6"
proto-plus==1.19.8; python_version >= "3.6"
protobuf==3.19.1; python_version >= "3.6"
pyasn1-modules==0.2.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
pyasn1==0.4.8; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6") or python_full_version >= "3.6.0" and python_version >= "3.6" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
pydantic==1.8.2; python_full_version >= "3.6.1" and python_version >= "3.6"
pymongo==3.12.3
python-dotenv==0.15.0
pytz==2021.3
pyyaml==6.0; python_version >= "3.6"
requests==2.26.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
rsa==4.8; python_version >= "3.6" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
sentry-sdk==1.5.1
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
starlette==0.14.2; python_version >= "3.6"
svgwrite==1.4.1; python_version >= "3.6"
typing-extensions==3.10.0.2
typing-inspect==0.7.1; python_version >= "3.6"
urllib3==1.26.7; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.5"
uvicorn==0.13.4
uvloop==0.16.0; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.7"
watchgod==0.7; python_version >= "3.5"
websockets==8.1; python_full_version >= "3.6.1"
wrapt==1.13.3; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
