cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.4; python_version >= "3.5"
chardet==4.0.0
click==7.1.2
colorama==0.4.4; sys_platform == "win32"
coverage==5.3.1
fastapi==0.63.0
google-api-core==1.25.0
google-auth==1.24.0
google-cloud-bigquery==2.6.1
google-cloud-core==1.5.0
google-crc32c==1.1.1; python_version >= "3.5"
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
grpcio==1.34.1
h11==0.12.0
httptools==0.1.1; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
idna==2.10
proto-plus==1.13.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20; python_version >= "3.5"
pydantic==1.7.3
python-dotenv==0.15.0
pytz==2020.5
pyyaml==5.3.1
requests==2.25.1
rsa==4.7; python_version >= "3.6"
six==1.15.0
starlette==0.13.6
typing-extensions==3.7.4.3
urllib3==1.26.2
uvicorn==0.13.3
uvloop==0.14.0; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
watchgod==0.6
websockets==8.1
