.image {
  opacity: 1;
  transition: 0.25s ease;
  backface-visibility: hidden;
}

.overlay {
  opacity: 0;
  transition: 0.25s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.card_container:hover .image {
  opacity: 0.5;
}

.card_container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
