service: default
runtime: python38
entrypoint: gunicorn -w 2 -k uvicorn.workers.UvicornWorker src.main:app --timeout 600 --graceful-timeout 600

#smallest instance class
instance_class: F4

#prevents creating additional instances
automatic_scaling:
  min_idle_instances: 1
  min_instances: 1
  max_instances: 3

#set to minimums
resources:
  cpu: 2
  memory_gb: 0.5
  disk_size_gb: 10

env_variables:
  PROD: true
